.firstRowBg {
    background-color: #f7f7f7;
}

.container {
    border: 1px solid #f7f7f7;
    border-radius: 5px;
}

.creditCard {
    background-color: grey;
    width: 35%;
    border-radius: 5px;
}

.blockquote {
    font-size: 10px !important;
    color: grey imp !important;
}

.botones {
    float: right;
    margin: 5px;
}